@{
    ViewData["Title"] = "User Connected Information";
}
<div>
    <video autoplay muted loop id="tm-bg">
        <source src="~/videos/video.mp4" type="video/mp4">
    </video>
</div>
<div id="tm-wrap">
    <div class="user-cover">
        <div class="background-padding"></div>
        <div class="blanket">
            <div class="row d-flex justify-content-center align-items-stretch">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="row d-flex justify-content-center">
                        <div class="profile-image"></div>
                        <div class="col-12 profile-text-center">
                            <h3 class="Bauhaus-93">Head of student government</h3>
                            <h3 class="Bauhaus-93">Name Surname</h3>
                            <h3 class="Bauhaus-93">Faculty</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="row rectangle-width d-flex justify-content-center">
                        <div class="rectangle"></div>
                        <div class="rectangle"></div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="row rectangle-width d-flex justify-content-center">
                        <div class="col-6 d-flex justify-content-center">
                            <div class="rectangle"></div>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <div class="rectangle"></div>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <div class="rectangle"></div>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <div class="rectangle"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>