@{
    ViewData["Title"] = "User Connected Information";
}
<div>
    <video autoplay muted loop id="tm-bg">
        <source src="~/videos/video.mp4" type="video/mp4">
    </video>
</div>
<div id="tm-wrap">
    <div class="user-cover">
        <div class="background-padding"></div>
        <div class="blanket">
            <div class="row d-flex justify-content-center align-items-stretch">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="row d-flex justify-content-center">
                        <div class="profile-image"></div>
                        <div class="col-12 profile-text-center">
                            <h3 class="Bauhaus-93">Head of student government</h3>
                            <h3 class="Bauhaus-93">Name Surname</h3>
                            <h3 class="Bauhaus-93">Faculty</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="row rectangle-width d-flex justify-content-center">
                        <div class="rectangle rectangleWithButtons">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-xs-12">
                                    <h3 class="Bauhaus-93">Created events:</h3>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-12 container">
                                    <a class="Bauhaus-93 container"> <i class="fa fa-handshake"></i> Some event..</a>
                                </div><div class="col-xs-12"></div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-12 container">
                                    <a class="Bauhaus-93 container"> <i class="fa fa-handshake"></i> Some event..</a>
                                </div><div class="col-xs-12"></div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-12 container">
                                    <a class="Bauhaus-93 container"> <i class="fa fa-handshake"></i> Some event..</a>
                                </div><div class="col-xs-12"></div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-12 container">
                                    <a class="Bauhaus-93 container"> <i class="fa fa-handshake"></i> Some event..</a>
                                </div><div class="col-xs-12"></div>
                            </div>
                            <div class="row d-flex justify-content-around align-items-center">
                                <div class="col-xs-6 button-shape">
                                    <a class="Bauhaus-93" href="#">Load more</a>
                                </div>
                                <div class="col-xs-6 button-shape">
                                    <a class="Bauhaus-93" href="#">Create new</a>
                                </div>
                            </div>
                        </div>
                        <div class="rectangle rectangleWithButtons">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-xs-12">
                                    <h3 class="Bauhaus-93">Created news:</h3>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-12 container">
                                    <a class="Bauhaus-93 container"> <i class="fa fa-handshake"></i> Some new..</a>
                                </div><div class="col-xs-12"></div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-12 container">
                                    <a class="Bauhaus-93 container"> <i class="fa fa-handshake"></i> Some new..</a>
                                </div><div class="col-xs-12"></div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-12 container">
                                    <a class="Bauhaus-93 container"> <i class="fa fa-handshake"></i> Some new..</a>
                                </div><div class="col-xs-12"></div>
                            </div>
                            <div class="row ">
                                <div class="col-xs-12 container">
                                    <a class="Bauhaus-93 container"> <i class="fa fa-handshake"></i> Some new..</a>
                                </div><div class="col-xs-12"></div>
                            </div>
                            <div class="row d-flex justify-content-around align-items-center">
                                <div class="col-xs-6 button-shape">
                                    <a class="Bauhaus-93" href="#">Load more</a>
                                </div>
                                <div class="col-xs-6 button-shape">
                                    <a class="Bauhaus-93" href="#">Create new</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="row rectangle-width d-flex justify-content-center">
                        <div class="col-6 col-md-12 col-lg-6 d-flex justify-content-center">
                            <div class="rectangle">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-xs-12">
                                        <i class="fa fa-5x fa-file-pdf"></i>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-xs-12">
                                        <a>Documents</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12 col-lg-6 d-flex justify-content-center">
                            <div class="rectangle">
                                <div class="row">
                                    <div class="col-xs-12"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12 col-lg-6 d-flex justify-content-center">
                            <div class="rectangle">
                                <div class="row">
                                    <div class="col-xs-12"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-md-12 col-lg-6 d-flex justify-content-center">
                            <div class="rectangle">
                                <div class="row">
                                    <div class="col-xs-12"></div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>