@model IEnumerable<SuLnu.Models.NewsShortViewModel>

@{
    ViewData["Title"] = "AllNews";
}

<style>
    th, td {
        color: black
    }
</style>
<h1>AllNews</h1>

<p>
    <a asp-action="CreateNews">Add News</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tilte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoFilePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tilte)
                </td>
                <td>
                    <img src="@item.PhotoFilePath" style="width:100px; height:60px">
                </td>
            </tr>
        }
    </tbody>
</table>
