@model SuLnu.Models.NewsViewModel

@{
    ViewData["Title"] = "CreateNews";
}
<div>
    <video autoplay muted loop id="tm-bg">
        <source src="~/videos/video.mp4" type="video/mp4">
    </video>
</div>
<div id="tm-wrap">
    <div class="tm-main-content">
        <div class="container tm-site-header-container" style=" background: #2c0c58;color: #a9a9a9; width:35%; text-align:center; ">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1>Create news</h1>
                    <form asp-action="CreateNews" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Tilte" class="control-label"></label>
                            <input asp-for="Tilte" class="form-control" />
                            <span asp-validation-for="Tilte" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="margin-left: 130px;">
                            <input asp-for="Image" class="form-control-file" placeholder="Image" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <span asp-validation-for="FacultyName" class="text-danger"></span>
                            @Html.DropDownListFor(m => m.FacultyName, ViewBag.faculties as SelectList, "Faculty", new { @class = "form-control", @style = "width: auto; padding: 0" })
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="button" />
                        </div>
                    </form>
                    <a asp-action="AllNews">Back to List</a>
                    <h2>&nbsp;</h2>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}