@model RegisterConfirmationViewModel
@{
    ViewData["Title"] = "Register confirmation";
}
<div>
    <video autoplay muted loop id="tm-bg">
        <source src="~/videos/video.mp4" type="video/mp4">
    </video>
</div>
<div id="tm-wrap">
    <div class="tm-main-content">
        <div class="container tm-site-header-container" style=" background: #2c0c58;color: #a9a9a9; width:35%; text-align:center;border-radius:15px;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1 style="padding-top:25px">@ViewData["Title"]</h1>
                    @{
                        if (@Model.DisplayConfirmAccountLink)
                        {
                            <p>
                                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                            </p>
                        }
                        else
                        {
                            <p style="padding-top:25px">
                                Please check your email to confirm your account<i class="fas fa-smile"></i>
                            </p>
                        }
                    }
                    <h2>&nbsp;</h2>
                </div>
            </div>
        </div>
    </div>
</div>
