@model SuLnu.Models.RegisterInputModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<SuLnu.DAL.Entities.AppUser> SignInManager

<hr />
<div class="row" style="background-color:blueviolet">
    <div class="col-md-4">
        <form asp-action="Register" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" placeholder="Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="LastName" class="form-control" placeholder="Surname" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Course" class="form-control" placeholder="Course" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left: 130px;">
                <input asp-for="Faculty" class="form-control" placeholder="Faculty" />
                <span asp-validation-for="Faculty" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

