p, h3 {
    color: black
}
 /*.likes {
        background-color: #f6f6f6;
        height: 40px;
        line-height: 40px;
        position: absolute;
        bottom: 20px;
        padding: 0 17px;
        border-radius: 100px;
        transition: .3s all ease-in-out;
        font-size: 14px;
        font-weight: lighter;
    }
        .likes p {
           
        display: flex;
        flex-direction: row;
    }

            .likes p:before,
            .likes p:after {
                content: "";
                flex: 1 1;
                border-bottom: 2px solid #000;
                margin: auto;
            }*/ 
h3, p {
    margin-top: 15px;
}

.container {
    max-width: 1800px;
    text-align: center
}

body {
    background-color: #ffffff;
}

.pagination {
    display: inline-block;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

        .pagination a.active {
            background-color: #2c0c58;
            color: white;
            border-radius: 5px;
        }

        .pagination a:hover:not(.active) {
            background-color: #8763ba;
            border-radius: 5px;
        }

.news {
    /*box-shadow: 0 0 3px gray;*/
    box-shadow: 0px 15px 45px -9px rgba(0,0,0,.2);
    transition: transform 1s;
    padding:0;
}

    .news:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.1);
    }

